*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #333;
}

.container{
    width:30%;
    height: 400px;
    display: block;
    position: relative;
    margin: 20vh auto;
    border-radius: 100px;
    background: linear-gradient(45deg, #000, #222);
}

.item{
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #999;
    border-radius: 50%;
    border: 1px solid #111;
}

.item:first-child{
    top: 0;
    left: 0;
    background: linear-gradient(45deg, green, yellowgreen, darkgreen);
}

.item:nth-child(2){
    top: 0;
    right: 0;
    background: linear-gradient(45deg, red, darkred, tomato);
}

.item:nth-child(3){
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, orange, tomato, goldenrod);
}

.item:nth-child(4){
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, violet, blueviolet, pink);
}

.item:nth-child(5){
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(45deg, gold, goldenrod, orange);
}
